/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReportsAPIService ReportsAPI service
type ReportsAPIService service

type ApiBilanzReportApiRequest struct {
	ctx context.Context
	ApiService *ReportsAPIService
	year *int32
	month *int32
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiBilanzReportApiRequest) Year(year int32) ApiBilanzReportApiRequest {
	r.year = &year
	return r
}

func (r ApiBilanzReportApiRequest) Month(month int32) ApiBilanzReportApiRequest {
	r.month = &month
	return r
}

func (r ApiBilanzReportApiRequest) DateFrom(dateFrom string) ApiBilanzReportApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiBilanzReportApiRequest) DateTo(dateTo string) ApiBilanzReportApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiBilanzReportApiRequest) Page(page int32) ApiBilanzReportApiRequest {
	r.page = &page
	return r
}

func (r ApiBilanzReportApiRequest) PageSize(pageSize int32) ApiBilanzReportApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiBilanzReportApiRequest) Execute() (*BilanzReport, *http.Response, error) {
	return r.ApiService.BilanzReportApiExecute(r)
}

/*
BilanzReportApi Bilanz (Balance Sheet)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBilanzReportApiRequest
*/
func (a *ReportsAPIService) BilanzReportApi(ctx context.Context) ApiBilanzReportApiRequest {
	return ApiBilanzReportApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BilanzReport
func (a *ReportsAPIService) BilanzReportApiExecute(r ApiBilanzReportApiRequest) (*BilanzReport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BilanzReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportsAPIService.BilanzReportApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/reports/bilanz"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.year != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	}
	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGuvReportApiRequest struct {
	ctx context.Context
	ApiService *ReportsAPIService
	year *int32
	month *int32
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiGuvReportApiRequest) Year(year int32) ApiGuvReportApiRequest {
	r.year = &year
	return r
}

func (r ApiGuvReportApiRequest) Month(month int32) ApiGuvReportApiRequest {
	r.month = &month
	return r
}

func (r ApiGuvReportApiRequest) DateFrom(dateFrom string) ApiGuvReportApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiGuvReportApiRequest) DateTo(dateTo string) ApiGuvReportApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiGuvReportApiRequest) Page(page int32) ApiGuvReportApiRequest {
	r.page = &page
	return r
}

func (r ApiGuvReportApiRequest) PageSize(pageSize int32) ApiGuvReportApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiGuvReportApiRequest) Execute() (*GuVReport, *http.Response, error) {
	return r.ApiService.GuvReportApiExecute(r)
}

/*
GuvReportApi Gewinn- und Verlustrechnung (P&L statement)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGuvReportApiRequest
*/
func (a *ReportsAPIService) GuvReportApi(ctx context.Context) ApiGuvReportApiRequest {
	return ApiGuvReportApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuVReport
func (a *ReportsAPIService) GuvReportApiExecute(r ApiGuvReportApiRequest) (*GuVReport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuVReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportsAPIService.GuvReportApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/reports/guv"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.year != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	}
	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKontenansichtReportApiRequest struct {
	ctx context.Context
	ApiService *ReportsAPIService
	year *int32
	month *int32
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiKontenansichtReportApiRequest) Year(year int32) ApiKontenansichtReportApiRequest {
	r.year = &year
	return r
}

func (r ApiKontenansichtReportApiRequest) Month(month int32) ApiKontenansichtReportApiRequest {
	r.month = &month
	return r
}

func (r ApiKontenansichtReportApiRequest) DateFrom(dateFrom string) ApiKontenansichtReportApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiKontenansichtReportApiRequest) DateTo(dateTo string) ApiKontenansichtReportApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiKontenansichtReportApiRequest) Page(page int32) ApiKontenansichtReportApiRequest {
	r.page = &page
	return r
}

func (r ApiKontenansichtReportApiRequest) PageSize(pageSize int32) ApiKontenansichtReportApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiKontenansichtReportApiRequest) Execute() (*KontoReport, *http.Response, error) {
	return r.ApiService.KontenansichtReportApiExecute(r)
}

/*
KontenansichtReportApi Kontenansicht (Account Overview)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiKontenansichtReportApiRequest
*/
func (a *ReportsAPIService) KontenansichtReportApi(ctx context.Context) ApiKontenansichtReportApiRequest {
	return ApiKontenansichtReportApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return KontoReport
func (a *ReportsAPIService) KontenansichtReportApiExecute(r ApiKontenansichtReportApiRequest) (*KontoReport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *KontoReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportsAPIService.KontenansichtReportApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/reports/kontenansicht"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.year != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	}
	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUmsatzsteuerReportApiRequest struct {
	ctx context.Context
	ApiService *ReportsAPIService
	year *int32
	month *int32
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiUmsatzsteuerReportApiRequest) Year(year int32) ApiUmsatzsteuerReportApiRequest {
	r.year = &year
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) Month(month int32) ApiUmsatzsteuerReportApiRequest {
	r.month = &month
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) DateFrom(dateFrom string) ApiUmsatzsteuerReportApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) DateTo(dateTo string) ApiUmsatzsteuerReportApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) Page(page int32) ApiUmsatzsteuerReportApiRequest {
	r.page = &page
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) PageSize(pageSize int32) ApiUmsatzsteuerReportApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiUmsatzsteuerReportApiRequest) Execute() (*UmsatzsteuerReport, *http.Response, error) {
	return r.ApiService.UmsatzsteuerReportApiExecute(r)
}

/*
UmsatzsteuerReportApi Umsatzsteuer-Voranmeldung (VAT report)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUmsatzsteuerReportApiRequest
*/
func (a *ReportsAPIService) UmsatzsteuerReportApi(ctx context.Context) ApiUmsatzsteuerReportApiRequest {
	return ApiUmsatzsteuerReportApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UmsatzsteuerReport
func (a *ReportsAPIService) UmsatzsteuerReportApiExecute(r ApiUmsatzsteuerReportApiRequest) (*UmsatzsteuerReport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UmsatzsteuerReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportsAPIService.UmsatzsteuerReportApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/reports/umsatzsteuer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.year != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	}
	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
