/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GewerbesteuerAPIService GewerbesteuerAPI service
type GewerbesteuerAPIService service

type ApiGewerbesteuerApiRequest struct {
	ctx context.Context
	ApiService *GewerbesteuerAPIService
	year *int32
	hebesatz *string
	gewerbeertrag *string
	country *string
	gemeindeschluessel *string
}

func (r ApiGewerbesteuerApiRequest) Year(year int32) ApiGewerbesteuerApiRequest {
	r.year = &year
	return r
}

func (r ApiGewerbesteuerApiRequest) Hebesatz(hebesatz string) ApiGewerbesteuerApiRequest {
	r.hebesatz = &hebesatz
	return r
}

func (r ApiGewerbesteuerApiRequest) Gewerbeertrag(gewerbeertrag string) ApiGewerbesteuerApiRequest {
	r.gewerbeertrag = &gewerbeertrag
	return r
}

func (r ApiGewerbesteuerApiRequest) Country(country string) ApiGewerbesteuerApiRequest {
	r.country = &country
	return r
}

func (r ApiGewerbesteuerApiRequest) Gemeindeschluessel(gemeindeschluessel string) ApiGewerbesteuerApiRequest {
	r.gemeindeschluessel = &gemeindeschluessel
	return r
}

func (r ApiGewerbesteuerApiRequest) Execute() (*GewerbesteuerErgebnis, *http.Response, error) {
	return r.ApiService.GewerbesteuerApiExecute(r)
}

/*
GewerbesteuerApi Method for GewerbesteuerApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGewerbesteuerApiRequest
*/
func (a *GewerbesteuerAPIService) GewerbesteuerApi(ctx context.Context) ApiGewerbesteuerApiRequest {
	return ApiGewerbesteuerApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GewerbesteuerErgebnis
func (a *GewerbesteuerAPIService) GewerbesteuerApiExecute(r ApiGewerbesteuerApiRequest) (*GewerbesteuerErgebnis, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GewerbesteuerErgebnis
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GewerbesteuerAPIService.GewerbesteuerApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/gewerbesteuer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.year == nil {
		return localVarReturnValue, nil, reportError("year is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	if r.hebesatz != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hebesatz", r.hebesatz, "form", "")
	}
	if r.gewerbeertrag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gewerbeertrag", r.gewerbeertrag, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.gemeindeschluessel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gemeindeschluessel", r.gemeindeschluessel, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
