/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReplenishmentAPIService ReplenishmentAPI service
type ReplenishmentAPIService service

type ApiApplyReplenishmentsRequest struct {
	ctx context.Context
	ApiService *ReplenishmentAPIService
	targetWarehouseId *string
	sourceWarehouseId *string
}

// Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
func (r ApiApplyReplenishmentsRequest) TargetWarehouseId(targetWarehouseId string) ApiApplyReplenishmentsRequest {
	r.targetWarehouseId = &targetWarehouseId
	return r
}

// Restrict source warehouses to this id.
func (r ApiApplyReplenishmentsRequest) SourceWarehouseId(sourceWarehouseId string) ApiApplyReplenishmentsRequest {
	r.sourceWarehouseId = &sourceWarehouseId
	return r
}

func (r ApiApplyReplenishmentsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ApplyReplenishmentsExecute(r)
}

/*
ApplyReplenishments Create one draft stock transfer per (source → target) pair carrying all suggested product lines for that pair.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApplyReplenishmentsRequest
*/
func (a *ReplenishmentAPIService) ApplyReplenishments(ctx context.Context) ApiApplyReplenishmentsRequest {
	return ApiApplyReplenishmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ReplenishmentAPIService) ApplyReplenishmentsExecute(r ApiApplyReplenishmentsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplenishmentAPIService.ApplyReplenishments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/replenishments/apply"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.targetWarehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetWarehouseId", r.targetWarehouseId, "form", "")
	}
	if r.sourceWarehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceWarehouseId", r.sourceWarehouseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetReplenishmentsRequest struct {
	ctx context.Context
	ApiService *ReplenishmentAPIService
	targetWarehouseId *string
	sourceWarehouseId *string
}

// Warehouse to be replenished. Defaults to the tenant&#39;s default warehouse.
func (r ApiGetReplenishmentsRequest) TargetWarehouseId(targetWarehouseId string) ApiGetReplenishmentsRequest {
	r.targetWarehouseId = &targetWarehouseId
	return r
}

// Restrict source warehouses to this id.
func (r ApiGetReplenishmentsRequest) SourceWarehouseId(sourceWarehouseId string) ApiGetReplenishmentsRequest {
	r.sourceWarehouseId = &sourceWarehouseId
	return r
}

func (r ApiGetReplenishmentsRequest) Execute() (*ReplenishmentResponse, *http.Response, error) {
	return r.ApiService.GetReplenishmentsExecute(r)
}

/*
GetReplenishments Method for GetReplenishments

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReplenishmentsRequest
*/
func (a *ReplenishmentAPIService) GetReplenishments(ctx context.Context) ApiGetReplenishmentsRequest {
	return ApiGetReplenishmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReplenishmentResponse
func (a *ReplenishmentAPIService) GetReplenishmentsExecute(r ApiGetReplenishmentsRequest) (*ReplenishmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReplenishmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplenishmentAPIService.GetReplenishments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/replenishments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.targetWarehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetWarehouseId", r.targetWarehouseId, "form", "")
	}
	if r.sourceWarehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceWarehouseId", r.sourceWarehouseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
