/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GezAPIService GezAPI service
type GezAPIService service

type ApiGezApiRequest struct {
	ctx context.Context
	ApiService *GezAPIService
	jahr *int32
	betriebsstaetten *string
	kfz *int64
	hotelzimmer *int64
	beschaefigte *int64
}

func (r ApiGezApiRequest) Jahr(jahr int32) ApiGezApiRequest {
	r.jahr = &jahr
	return r
}

// Liste der Betriebsstätten als JSON, z.B. &#x60;[{\&quot;name\&quot;:\&quot;Filiale 1\&quot;,\&quot;beschaefigte\&quot;:12}]&#x60;.
func (r ApiGezApiRequest) Betriebsstaetten(betriebsstaetten string) ApiGezApiRequest {
	r.betriebsstaetten = &betriebsstaetten
	return r
}

// Gesamtzahl der betrieblich genutzten Kfz (falls keine Betriebsstätten angegeben sind).
func (r ApiGezApiRequest) Kfz(kfz int64) ApiGezApiRequest {
	r.kfz = &kfz
	return r
}

// Gesamtzahl der Hotel-/Gästezimmer und Ferienwohnungen.
func (r ApiGezApiRequest) Hotelzimmer(hotelzimmer int64) ApiGezApiRequest {
	r.hotelzimmer = &hotelzimmer
	return r
}

// Gesamtzahl der Beschäftigten (verwendet nur, wenn &#x60;betriebsstaetten&#x60; fehlt; dann wird eine einzelne Betriebsstätte angenommen).
func (r ApiGezApiRequest) Beschaefigte(beschaefigte int64) ApiGezApiRequest {
	r.beschaefigte = &beschaefigte
	return r
}

func (r ApiGezApiRequest) Execute() (*GezReport, *http.Response, error) {
	return r.ApiService.GezApiExecute(r)
}

/*
GezApi Method for GezApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGezApiRequest
*/
func (a *GezAPIService) GezApi(ctx context.Context) ApiGezApiRequest {
	return ApiGezApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GezReport
func (a *GezAPIService) GezApiExecute(r ApiGezApiRequest) (*GezReport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GezReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GezAPIService.GezApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/gez"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.jahr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jahr", r.jahr, "form", "")
	}
	if r.betriebsstaetten != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "betriebsstaetten", r.betriebsstaetten, "form", "")
	}
	if r.kfz != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kfz", r.kfz, "form", "")
	}
	if r.hotelzimmer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hotelzimmer", r.hotelzimmer, "form", "")
	}
	if r.beschaefigte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beschaefigte", r.beschaefigte, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
