/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ZugferdAPIService ZugferdAPI service
type ZugferdAPIService service

type ApiGenerateZugferdApiRequest struct {
	ctx context.Context
	ApiService *ZugferdAPIService
	id string
	supplierName *string
	supplierStreet *string
	supplierCity *string
	supplierZip *string
	supplierCountry *string
	supplierVatId *string
}

func (r ApiGenerateZugferdApiRequest) SupplierName(supplierName string) ApiGenerateZugferdApiRequest {
	r.supplierName = &supplierName
	return r
}

func (r ApiGenerateZugferdApiRequest) SupplierStreet(supplierStreet string) ApiGenerateZugferdApiRequest {
	r.supplierStreet = &supplierStreet
	return r
}

func (r ApiGenerateZugferdApiRequest) SupplierCity(supplierCity string) ApiGenerateZugferdApiRequest {
	r.supplierCity = &supplierCity
	return r
}

func (r ApiGenerateZugferdApiRequest) SupplierZip(supplierZip string) ApiGenerateZugferdApiRequest {
	r.supplierZip = &supplierZip
	return r
}

func (r ApiGenerateZugferdApiRequest) SupplierCountry(supplierCountry string) ApiGenerateZugferdApiRequest {
	r.supplierCountry = &supplierCountry
	return r
}

func (r ApiGenerateZugferdApiRequest) SupplierVatId(supplierVatId string) ApiGenerateZugferdApiRequest {
	r.supplierVatId = &supplierVatId
	return r
}

func (r ApiGenerateZugferdApiRequest) Execute() (*http.Response, error) {
	return r.ApiService.GenerateZugferdApiExecute(r)
}

/*
GenerateZugferdApi Method for GenerateZugferdApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGenerateZugferdApiRequest
*/
func (a *ZugferdAPIService) GenerateZugferdApi(ctx context.Context, id string) ApiGenerateZugferdApiRequest {
	return ApiGenerateZugferdApiRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ZugferdAPIService) GenerateZugferdApiExecute(r ApiGenerateZugferdApiRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZugferdAPIService.GenerateZugferdApi")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/invoices/{id}/zugferd"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.supplierName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_name", r.supplierName, "form", "")
	}
	if r.supplierStreet != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_street", r.supplierStreet, "form", "")
	}
	if r.supplierCity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_city", r.supplierCity, "form", "")
	}
	if r.supplierZip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_zip", r.supplierZip, "form", "")
	}
	if r.supplierCountry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_country", r.supplierCountry, "form", "")
	}
	if r.supplierVatId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplier_vat_id", r.supplierVatId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/pdf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
