/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReorderProposalAPIService ReorderProposalAPI service
type ReorderProposalAPIService service

type ApiApplyReorderProposalRequest struct {
	ctx context.Context
	ApiService *ReorderProposalAPIService
	configuredOnly *bool
	warehouseId *string
}

// Only include products with a reorder point configured (&#x60;min_stock&#x60;).
func (r ApiApplyReorderProposalRequest) ConfiguredOnly(configuredOnly bool) ApiApplyReorderProposalRequest {
	r.configuredOnly = &configuredOnly
	return r
}

// Limit to a single warehouse id.
func (r ApiApplyReorderProposalRequest) WarehouseId(warehouseId string) ApiApplyReorderProposalRequest {
	r.warehouseId = &warehouseId
	return r
}

func (r ApiApplyReorderProposalRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ApplyReorderProposalExecute(r)
}

/*
ApplyReorderProposal Convert a reorder proposal into a draft purchase order.

Returns the created purchase order id. Suggested line items are generated
with the current reorder quantity per product.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApplyReorderProposalRequest
*/
func (a *ReorderProposalAPIService) ApplyReorderProposal(ctx context.Context) ApiApplyReorderProposalRequest {
	return ApiApplyReorderProposalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ReorderProposalAPIService) ApplyReorderProposalExecute(r ApiApplyReorderProposalRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReorderProposalAPIService.ApplyReorderProposal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/reorder-proposals/apply"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.configuredOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configuredOnly", r.configuredOnly, "form", "")
	}
	if r.warehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "warehouseId", r.warehouseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetReorderProposalRequest struct {
	ctx context.Context
	ApiService *ReorderProposalAPIService
	configuredOnly *bool
	warehouseId *string
}

// Only include products with a reorder point configured (&#x60;min_stock&#x60;).
func (r ApiGetReorderProposalRequest) ConfiguredOnly(configuredOnly bool) ApiGetReorderProposalRequest {
	r.configuredOnly = &configuredOnly
	return r
}

// Limit to a single warehouse id.
func (r ApiGetReorderProposalRequest) WarehouseId(warehouseId string) ApiGetReorderProposalRequest {
	r.warehouseId = &warehouseId
	return r
}

func (r ApiGetReorderProposalRequest) Execute() (*ReorderProposalResponse, *http.Response, error) {
	return r.ApiService.GetReorderProposalExecute(r)
}

/*
GetReorderProposal Method for GetReorderProposal

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReorderProposalRequest
*/
func (a *ReorderProposalAPIService) GetReorderProposal(ctx context.Context) ApiGetReorderProposalRequest {
	return ApiGetReorderProposalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReorderProposalResponse
func (a *ReorderProposalAPIService) GetReorderProposalExecute(r ApiGetReorderProposalRequest) (*ReorderProposalResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReorderProposalResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReorderProposalAPIService.GetReorderProposal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/reorder-proposals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.configuredOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configuredOnly", r.configuredOnly, "form", "")
	}
	if r.warehouseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "warehouseId", r.warehouseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PluginError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
