/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ListOpenItemsAPIService ListOpenItemsAPI service
type ListOpenItemsAPIService service

type ApiListOpenItemsApiRequest struct {
	ctx context.Context
	ApiService *ListOpenItemsAPIService
	reminderLevel1Days *int64
	reminderLevel2Days *int64
	reminderLevel3Days *int64
	customerId *string
}

func (r ApiListOpenItemsApiRequest) ReminderLevel1Days(reminderLevel1Days int64) ApiListOpenItemsApiRequest {
	r.reminderLevel1Days = &reminderLevel1Days
	return r
}

func (r ApiListOpenItemsApiRequest) ReminderLevel2Days(reminderLevel2Days int64) ApiListOpenItemsApiRequest {
	r.reminderLevel2Days = &reminderLevel2Days
	return r
}

func (r ApiListOpenItemsApiRequest) ReminderLevel3Days(reminderLevel3Days int64) ApiListOpenItemsApiRequest {
	r.reminderLevel3Days = &reminderLevel3Days
	return r
}

func (r ApiListOpenItemsApiRequest) CustomerId(customerId string) ApiListOpenItemsApiRequest {
	r.customerId = &customerId
	return r
}

func (r ApiListOpenItemsApiRequest) Execute() ([]OpenItem, *http.Response, error) {
	return r.ApiService.ListOpenItemsApiExecute(r)
}

/*
ListOpenItemsApi Method for ListOpenItemsApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOpenItemsApiRequest
*/
func (a *ListOpenItemsAPIService) ListOpenItemsApi(ctx context.Context) ApiListOpenItemsApiRequest {
	return ApiListOpenItemsApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []OpenItem
func (a *ListOpenItemsAPIService) ListOpenItemsApiExecute(r ApiListOpenItemsApiRequest) ([]OpenItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []OpenItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListOpenItemsAPIService.ListOpenItemsApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/open-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.reminderLevel1Days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reminder_level1_days", r.reminderLevel1Days, "form", "")
	}
	if r.reminderLevel2Days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reminder_level2_days", r.reminderLevel2Days, "form", "")
	}
	if r.reminderLevel3Days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reminder_level3_days", r.reminderLevel3Days, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customer_id", r.customerId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
