/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GenerateQrcodeAPIService GenerateQrcodeAPI service
type GenerateQrcodeAPIService service

type ApiGenerateQrcodeApiRequest struct {
	ctx context.Context
	ApiService *GenerateQrcodeAPIService
	iban *string
	id string
	holderName *string
	bic *string
	amount *string
	reference *string
	purpose *string
}

func (r ApiGenerateQrcodeApiRequest) Iban(iban string) ApiGenerateQrcodeApiRequest {
	r.iban = &iban
	return r
}

func (r ApiGenerateQrcodeApiRequest) HolderName(holderName string) ApiGenerateQrcodeApiRequest {
	r.holderName = &holderName
	return r
}

func (r ApiGenerateQrcodeApiRequest) Bic(bic string) ApiGenerateQrcodeApiRequest {
	r.bic = &bic
	return r
}

func (r ApiGenerateQrcodeApiRequest) Amount(amount string) ApiGenerateQrcodeApiRequest {
	r.amount = &amount
	return r
}

func (r ApiGenerateQrcodeApiRequest) Reference(reference string) ApiGenerateQrcodeApiRequest {
	r.reference = &reference
	return r
}

func (r ApiGenerateQrcodeApiRequest) Purpose(purpose string) ApiGenerateQrcodeApiRequest {
	r.purpose = &purpose
	return r
}

func (r ApiGenerateQrcodeApiRequest) Execute() (*QRCodeResponse, *http.Response, error) {
	return r.ApiService.GenerateQrcodeApiExecute(r)
}

/*
GenerateQrcodeApi Method for GenerateQrcodeApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGenerateQrcodeApiRequest
*/
func (a *GenerateQrcodeAPIService) GenerateQrcodeApi(ctx context.Context, id string) ApiGenerateQrcodeApiRequest {
	return ApiGenerateQrcodeApiRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return QRCodeResponse
func (a *GenerateQrcodeAPIService) GenerateQrcodeApiExecute(r ApiGenerateQrcodeApiRequest) (*QRCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QRCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GenerateQrcodeAPIService.GenerateQrcodeApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/invoices/{id}/qrcode"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iban == nil {
		return localVarReturnValue, nil, reportError("iban is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "iban", r.iban, "form", "")
	if r.holderName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "holder_name", r.holderName, "form", "")
	}
	if r.bic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bic", r.bic, "form", "")
	}
	if r.amount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	}
	if r.reference != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reference", r.reference, "form", "")
	}
	if r.purpose != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purpose", r.purpose, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
