/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// KostenVorschauAPIService KostenVorschauAPI service
type KostenVorschauAPIService service

type ApiKostenVorschauApiRequest struct {
	ctx context.Context
	ApiService *KostenVorschauAPIService
	year *int32
	month *int32
}

func (r ApiKostenVorschauApiRequest) Year(year int32) ApiKostenVorschauApiRequest {
	r.year = &year
	return r
}

func (r ApiKostenVorschauApiRequest) Month(month int32) ApiKostenVorschauApiRequest {
	r.month = &month
	return r
}

func (r ApiKostenVorschauApiRequest) Execute() (*KostenVorschau, *http.Response, error) {
	return r.ApiService.KostenVorschauApiExecute(r)
}

/*
KostenVorschauApi Method for KostenVorschauApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiKostenVorschauApiRequest
*/
func (a *KostenVorschauAPIService) KostenVorschauApi(ctx context.Context) ApiKostenVorschauApiRequest {
	return ApiKostenVorschauApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return KostenVorschau
func (a *KostenVorschauAPIService) KostenVorschauApiExecute(r ApiKostenVorschauApiRequest) (*KostenVorschau, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *KostenVorschau
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KostenVorschauAPIService.KostenVorschauApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/kosten-vorschau"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.year == nil {
		return localVarReturnValue, nil, reportError("year is required and must be specified")
	}
	if r.month == nil {
		return localVarReturnValue, nil, reportError("month is required and must be specified")
	}
	if *r.month < 0 {
		return localVarReturnValue, nil, reportError("month must be greater than 0")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
