/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DatevAPIService DatevAPI service
type DatevAPIService service

type ApiDatevExportApiRequest struct {
	ctx context.Context
	ApiService *DatevAPIService
	accountSchema *string
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiDatevExportApiRequest) AccountSchema(accountSchema string) ApiDatevExportApiRequest {
	r.accountSchema = &accountSchema
	return r
}

func (r ApiDatevExportApiRequest) DateFrom(dateFrom string) ApiDatevExportApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiDatevExportApiRequest) DateTo(dateTo string) ApiDatevExportApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiDatevExportApiRequest) Page(page int32) ApiDatevExportApiRequest {
	r.page = &page
	return r
}

func (r ApiDatevExportApiRequest) PageSize(pageSize int32) ApiDatevExportApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiDatevExportApiRequest) Execute() (*DatevExportResponse, *http.Response, error) {
	return r.ApiService.DatevExportApiExecute(r)
}

/*
DatevExportApi Export bookkeeping data as DATEV CSV

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatevExportApiRequest
*/
func (a *DatevAPIService) DatevExportApi(ctx context.Context) ApiDatevExportApiRequest {
	return ApiDatevExportApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DatevExportResponse
func (a *DatevAPIService) DatevExportApiExecute(r ApiDatevExportApiRequest) (*DatevExportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DatevExportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatevAPIService.DatevExportApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/datev/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_schema", r.accountSchema, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDatevPreviewApiRequest struct {
	ctx context.Context
	ApiService *DatevAPIService
	accountSchema *string
	dateFrom *string
	dateTo *string
	page *int32
	pageSize *int32
}

func (r ApiDatevPreviewApiRequest) AccountSchema(accountSchema string) ApiDatevPreviewApiRequest {
	r.accountSchema = &accountSchema
	return r
}

func (r ApiDatevPreviewApiRequest) DateFrom(dateFrom string) ApiDatevPreviewApiRequest {
	r.dateFrom = &dateFrom
	return r
}

func (r ApiDatevPreviewApiRequest) DateTo(dateTo string) ApiDatevPreviewApiRequest {
	r.dateTo = &dateTo
	return r
}

func (r ApiDatevPreviewApiRequest) Page(page int32) ApiDatevPreviewApiRequest {
	r.page = &page
	return r
}

func (r ApiDatevPreviewApiRequest) PageSize(pageSize int32) ApiDatevPreviewApiRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiDatevPreviewApiRequest) Execute() ([]DatevBookingPreview, *http.Response, error) {
	return r.ApiService.DatevPreviewApiExecute(r)
}

/*
DatevPreviewApi Exported_datev_bookings: returns formed bookings for review

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDatevPreviewApiRequest
*/
func (a *DatevAPIService) DatevPreviewApi(ctx context.Context) ApiDatevPreviewApiRequest {
	return ApiDatevPreviewApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DatevBookingPreview
func (a *DatevAPIService) DatevPreviewApiExecute(r ApiDatevPreviewApiRequest) ([]DatevBookingPreview, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DatevBookingPreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatevAPIService.DatevPreviewApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/datev/preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_schema", r.accountSchema, "form", "")
	}
	if r.dateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_from", r.dateFrom, "form", "")
	}
	if r.dateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date_to", r.dateTo, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
