/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FristenAPIService FristenAPI service
type FristenAPIService service

type ApiFristenApiRequest struct {
	ctx context.Context
	ApiService *FristenAPIService
	bundesland *string
	voranmeldungsrhythmus *string
	dauerfristverlaengerung *bool
	estAktiv *bool
	gewstAktiv *bool
	monate *int32
}

func (r ApiFristenApiRequest) Bundesland(bundesland string) ApiFristenApiRequest {
	r.bundesland = &bundesland
	return r
}

func (r ApiFristenApiRequest) Voranmeldungsrhythmus(voranmeldungsrhythmus string) ApiFristenApiRequest {
	r.voranmeldungsrhythmus = &voranmeldungsrhythmus
	return r
}

func (r ApiFristenApiRequest) Dauerfristverlaengerung(dauerfristverlaengerung bool) ApiFristenApiRequest {
	r.dauerfristverlaengerung = &dauerfristverlaengerung
	return r
}

func (r ApiFristenApiRequest) EstAktiv(estAktiv bool) ApiFristenApiRequest {
	r.estAktiv = &estAktiv
	return r
}

func (r ApiFristenApiRequest) GewstAktiv(gewstAktiv bool) ApiFristenApiRequest {
	r.gewstAktiv = &gewstAktiv
	return r
}

func (r ApiFristenApiRequest) Monate(monate int32) ApiFristenApiRequest {
	r.monate = &monate
	return r
}

func (r ApiFristenApiRequest) Execute() (*FristenErgebnis, *http.Response, error) {
	return r.ApiService.FristenApiExecute(r)
}

/*
FristenApi Method for FristenApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFristenApiRequest
*/
func (a *FristenAPIService) FristenApi(ctx context.Context) ApiFristenApiRequest {
	return ApiFristenApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FristenErgebnis
func (a *FristenAPIService) FristenApiExecute(r ApiFristenApiRequest) (*FristenErgebnis, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FristenErgebnis
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FristenAPIService.FristenApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/fristen"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bundesland != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bundesland", r.bundesland, "form", "")
	}
	if r.voranmeldungsrhythmus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "voranmeldungsrhythmus", r.voranmeldungsrhythmus, "form", "")
	}
	if r.dauerfristverlaengerung != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dauerfristverlaengerung", r.dauerfristverlaengerung, "form", "")
	}
	if r.estAktiv != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "est_aktiv", r.estAktiv, "form", "")
	}
	if r.gewstAktiv != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gewst_aktiv", r.gewstAktiv, "form", "")
	}
	if r.monate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "monate", r.monate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
