/*
SimpleBilly API

Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.

API version: 0.1.0
Contact: support@simplebilly.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package simplebillyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BankingAPIService BankingAPI service
type BankingAPIService service

type ApiBankLookupApiRequest struct {
	ctx context.Context
	ApiService *BankingAPIService
	iban *string
}

func (r ApiBankLookupApiRequest) Iban(iban string) ApiBankLookupApiRequest {
	r.iban = &iban
	return r
}

func (r ApiBankLookupApiRequest) Execute() (*BankLookup, *http.Response, error) {
	return r.ApiService.BankLookupApiExecute(r)
}

/*
BankLookupApi Method for BankLookupApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBankLookupApiRequest
*/
func (a *BankingAPIService) BankLookupApi(ctx context.Context) ApiBankLookupApiRequest {
	return ApiBankLookupApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BankLookup
func (a *BankingAPIService) BankLookupApiExecute(r ApiBankLookupApiRequest) (*BankLookup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankLookup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankingAPIService.BankLookupApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/banking/lookup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iban == nil {
		return localVarReturnValue, nil, reportError("iban is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "iban", r.iban, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBankTransactionsApiRequest struct {
	ctx context.Context
	ApiService *BankingAPIService
}

func (r ApiBankTransactionsApiRequest) Execute() (*http.Response, error) {
	return r.ApiService.BankTransactionsApiExecute(r)
}

/*
BankTransactionsApi Method for BankTransactionsApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBankTransactionsApiRequest
*/
func (a *BankingAPIService) BankTransactionsApi(ctx context.Context) ApiBankTransactionsApiRequest {
	return ApiBankTransactionsApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *BankingAPIService) BankTransactionsApiExecute(r ApiBankTransactionsApiRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankingAPIService.BankTransactionsApi")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/banking/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiHebesatzLookupApiRequest struct {
	ctx context.Context
	ApiService *BankingAPIService
	gemeindeschluessel *string
	plz *string
	name *string
	stichtag *string
	countryCode *string
}

func (r ApiHebesatzLookupApiRequest) Gemeindeschluessel(gemeindeschluessel string) ApiHebesatzLookupApiRequest {
	r.gemeindeschluessel = &gemeindeschluessel
	return r
}

func (r ApiHebesatzLookupApiRequest) Plz(plz string) ApiHebesatzLookupApiRequest {
	r.plz = &plz
	return r
}

func (r ApiHebesatzLookupApiRequest) Name(name string) ApiHebesatzLookupApiRequest {
	r.name = &name
	return r
}

// Stichtag for validity (YYYY-MM-DD); defaults to today. Picks row where valid_from &lt;&#x3D; date &lt;&#x3D; valid_to.
func (r ApiHebesatzLookupApiRequest) Stichtag(stichtag string) ApiHebesatzLookupApiRequest {
	r.stichtag = &stichtag
	return r
}

func (r ApiHebesatzLookupApiRequest) CountryCode(countryCode string) ApiHebesatzLookupApiRequest {
	r.countryCode = &countryCode
	return r
}

func (r ApiHebesatzLookupApiRequest) Execute() ([]HebesatzLookup, *http.Response, error) {
	return r.ApiService.HebesatzLookupApiExecute(r)
}

/*
HebesatzLookupApi Method for HebesatzLookupApi

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiHebesatzLookupApiRequest
*/
func (a *BankingAPIService) HebesatzLookupApi(ctx context.Context) ApiHebesatzLookupApiRequest {
	return ApiHebesatzLookupApiRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []HebesatzLookup
func (a *BankingAPIService) HebesatzLookupApiExecute(r ApiHebesatzLookupApiRequest) ([]HebesatzLookup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []HebesatzLookup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BankingAPIService.HebesatzLookupApi")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bookkeeping/hebesatz"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.gemeindeschluessel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gemeindeschluessel", r.gemeindeschluessel, "form", "")
	}
	if r.plz != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plz", r.plz, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.stichtag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stichtag", r.stichtag, "form", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
